<ion-card-header>
  <ion-card-title>{{productType.name}}</ion-card-title>
  <ion-card-subtitle></ion-card-subtitle>
</ion-card-header>

<ion-card-content>
  <ion-slides pager="false" [options]="slideOpts" (ionSlideReachEnd)="moreData()">
    <ion-slide *ngFor="let product of productsList">
      <div >
        <ion-card-subtitle>{{product.name}}</ion-card-subtitle>
        <img [src]="product.productImages[0].name" alt="" height="42" width="42" (click)="openDetails(product)">

        <h6>{{product.value | number:'1.2'}}</h6>
      </div>
    </ion-slide>
  </ion-slides>
  
</ion-card-content>