<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'userInfo' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>{{ 'firstName' | translate}}</ion-label>
    <ion-input [(ngModel)]="user.firstName" clearInput></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'lastName' | translate}}</ion-label>
    <ion-input [(ngModel)]="user.lastName" clearInput></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'email' | translate}}</ion-label>
    <ion-input [(ngModel)]="user.email" clearInput></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'password' | translate}}</ion-label>
    <ion-input [(ngModel)]="user.password" clearInput></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'confirmPassword' | translate}}</ion-label>
    <ion-input [(ngModel)]="confirmPassword" clearInput></ion-input>
  </ion-item>

</ion-content>
<ion-footer no-shadow>
	<ion-toolbar position="bottom">
    <ion-button expand="full" (click)="send()">{{ 'send' | translate}}</ion-button>
	</ion-toolbar>
</ion-footer>