<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">{{ 'back' | translate}}</ion-button>
    </ion-buttons>
    <ion-title>{{productType.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
  <ion-item-sliding *ngFor="let productSubType of productSubTypesList;">
    <ion-item (click)="desactive(productSubType.id)"color="{{productSubType.color}}">
      <ion-label>{{productSubType.name}}</ion-label>
    </ion-item>
  </ion-item-sliding>
</ion-list>
</ion-content>
<ion-footer>
</ion-footer>