<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'userPreferences' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
  <ion-item-sliding *ngFor="let productType of productTypesList;">
    <ion-item (click)="openPreference(productType.id)"color="{{productType.color}}">
      <ion-label>{{productType.name}}</ion-label>
    </ion-item>
    <ion-item-options side="start" *ngIf="productType.color != 'medium'">
      <ion-item-option (click)="disableAll(productType.id)">{{'disableAll'| translate}}</ion-item-option>
    </ion-item-options>
    <ion-item-options side="end">
      <ion-item-option (click)="enableAll(productType.id)">{{'enableAll'| translate}}</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>