<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Friendly</ion-list-header>
          <br>
          <ion-button (click)="changeLanguage('en')">{{'english' | translate}}</ion-button>
          <ion-button (click)="changeLanguage('es')">{{'spanish' | translate}}</ion-button>
          <ion-button (click)="changeLanguage('pt')">{{'portuguese' | translate}}</ion-button>

          <ion-menu-toggle auto-hide="false" >
            <ion-item routerDirection="root" [routerLink]="['/']" lines="none" detail="false">
              <ion-icon slot="start" [ios]="'heart-outline'" [md]="'heart-sharp'"></ion-icon>
              <ion-label>{{'products' | translate}}</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/cart']" lines="none" detail="false">
              <ion-icon slot="start" [ios]="'heart-outline'" [md]="'heart-sharp'"></ion-icon>
              <ion-label>{{'cart' | translate}}</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/user-info']" lines="none" detail="false">
              <ion-icon slot="start" [ios]="'heart-outline'" [md]="'heart-sharp'"></ion-icon>
              <ion-label>{{'userInfo' | translate}}</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/user-preferences']" lines="none" detail="false">
              <ion-icon slot="start" [ios]="'heart-outline'" [md]="'heart-sharp'"></ion-icon>
              <ion-label>{{'userPreferences' | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
