<ion-card-subtitle>
  {{order.date | date: 'dd/MM/yyyy HH:mm:ss'}}
</ion-card-subtitle>
<ion-grid>
  <ion-row>
    <ion-col size="3">
      <img [src]="image" alt="" height="42" width="42">
    </ion-col>
    <ion-col>
      {{order.quantity }} - {{ order.product.name }}
    </ion-col>
    <ion-col size="4">
      {{ order.totalValue  | number:'1.2-2'}}
    </ion-col>
  </ion-row>
</ion-grid>
<p>  {{order.status | translate }}</p>
