<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">{{ 'back' | translate}}</ion-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>{{ 'name' | translate}}</ion-label>
    <ion-input [(ngModel)]="product.productName" clearInput></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'partner' | translate}}</ion-label>
    <ion-input [(ngModel)]="product.partnerName" clearInput></ion-input>
  </ion-item>  
  <ion-item>
    <ion-label>{{ 'productType' | translate}}</ion-label>
    <ion-input [(ngModel)]="product.productType" clearInput></ion-input>
  </ion-item>
</ion-content>
<ion-footer no-shadow>
	<ion-toolbar position="bottom">
    <ion-button expand="full" (click)="find()">{{ 'find' | translate}}</ion-button>
	</ion-toolbar>
</ion-footer>
