<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">{{ 'back' | translate}}</ion-button>
    </ion-buttons>
    <ion-title>
      <ion-card-title>{{product.name}}</ion-card-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-image-slider [images]="imageObject" #nav *ngIf="listImages.length > 0"></ng-image-slider>
  <ion-label>{{product.description}}</ion-label>

</ion-content>
<ion-footer no-shadow>
  <ion-item>
    <ion-label>{{ 'observation' | translate}}</ion-label>
    <ion-input [(ngModel)]="order.observation" clearInput></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'unityValue' | translate}}</ion-label>
    <ion-label> R$ {{ order.unityValue | number:'1.2'}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'quantity' | translate}}</ion-label>
    <ion-input [(ngModel)]="order.quantity" clearInput type="number" min="1" (ngModelChange)="reloadTotalValue()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'total' | translate}}</ion-label>
    <ion-label> R$ {{ order.totalValue | number:'1.2'}}</ion-label>
  </ion-item>
	<ion-toolbar position="bottom">
    <ion-button expand="full" (click)="buy()">{{ 'buy' | translate}}</ion-button>
	</ion-toolbar>
</ion-footer>
